/* место для вашего кода */
header {
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
    justify-content: space-between;
    align-content: center;
    padding: 92px 24px 96px;
}
.header-nav {
    display: grid;
    align-content: center;
}
.header-nav-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
}
.header-nav-list-item {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.01em;
    list-style-type: circle;
}
.header-nav-list-item-active {
    text-decoration: none;
    list-style-type: none;
} 
.logo-black-link {
    display: grid;
    place-content: center;
}
.logo-black {
    width: 148px;
    height: 105px;
}
.header-contacts {
    justify-self: end;
}
.header-contacts a {
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0.01em;
    text-underline-offset: 5px;
}
.cover {
    background-image: url("images\cover.jpg");
    background-size: cover;
}